/* ------------- css Reset Style -----------------**/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------- Defautl Style -----------------**/


body {
    font-family: Rubik;

}

.container {
    max-width: 1200px;
}

h1 {
    font-size: 40px;
    font-family: Rubik;
}

h2 {
    font-size: 24px;
    line-height: 35px;
    font-family: Rubik;
}

h3 {
    font-size: 20px;
    line-height: 35px;
    font-family: Rubik;
}

h4 {
    font-size: 16px;
}


p {
    font-size: 14px;
    font-family: Rubik;
    line-height: 30px;
}

.bp {
    padding: 70px 0;
}

.pt {
    padding-top: 70px;
}

.pb {
    padding-bottom: 70px;
}

.box-shadow {
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, .18);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .18);
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}

.box-shadow:hover {
    -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, .50);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .50);
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}
