@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



body {
    font-family: Rubik !important;
    background-color: #ededed;
}


/*** Login CSS Style ***/

.wrapperbody {

    width: 100%;
    background-size: cover !important;
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;
    font-family: Rubik !important;
}

.login-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ededed;
    z-index: -1;
    font-family: Rubik !important;
}

.fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_here {
    padding-bottom: 20px;
}

.logo_here img {
    width: 200px;
    height: auto;
}




/**  Login Form 1 / Register Form 1 **/

.box-shadow {
    padding: 10px 40px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0px 20px 150px rgba(179, 179, 179, 0.616);
    font-family: Rubik !important;
}

.form-box-size {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    border: 2px solid #630a0c;
    border-radius: 15px;
    font-family: Rubik !important;
}

.login-form-1 .form-wrapper {
    margin: 20px auto;
}

.login-form-1 .form-group {
    position: relative;
}

.login-form-1 .form-group i {
    position: absolute;
    right: 0;
    top: 10px;
    color: #000;
}

.login-form-1 .form-group+.form-group {
    margin-top: 30px;
}

.login-form-1 .form-label {
    font-family: Rubik !important;
    position: absolute;
    left: 0;
    top: 18px;
    color: #000;
    z-index: 10;
    transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    font-size: 18px;
    padding-left: 15px;
}

.login-form-1 .focused .form-label {
    -webkit-transform: translateY(-125%);
    transform: translateY(-125%);
    font-size: .75em;
}

.login-form-1 .form-input {
    position: relative;
    padding: 25px 4px 5px 16px !important;
    width: 100% !important;
    font-family: Rubik !important;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #000;
    transition: box-shadow 150ms ease-out;
    background: 0 0;
    color: #000 !important;
}

.login-form-1 .form-input:focus {
    box-shadow: 0 2px 0 0 #000;
}

.login-form-1 .form-input.filled {
    box-shadow: 0 2px 0 0 #000;
}

.login-form-1 .checkbox {
    padding: 20px 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-align: left;
}

.login-form-1 .checkbox label {
    cursor: pointer;
    padding-left: 0;
    color: #000;
}

.login-form-1 .checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
}

.login-form-1 .checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px;
    padding-right: 10px;
}

.login-form-1 .checkbox .checkbox-material:before {
    position: absolute;
    left: 8px;
    top: 2px;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    height: 4px;
    width: 4px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
}

.login-form-1 .checkbox .checkbox-material .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
}

.login-form-1 .checkbox .checkbox-material .check:before {
    position: absolute;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    margin-top: -4px;
    margin-left: 6px;
    width: 0;
    height: 0;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    -webkit-animation: checkbox-off 0.3s forwards ease-out;
    animation: checkbox-off 0.3s forwards ease-out;
}

.login-form-1 .checkbox input[type=checkbox]:focus+.checkbox-material .check:after {
    opacity: 0.2;
}

.login-form-1 .checkbox input[type=checkbox]:checked+.checkbox-material .check:before {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    -webkit-animation: checkbox-on 0.3s forwards ease-out;
    animation: checkbox-on 0.3s forwards ease-out;
}

.login-form-1 .checkbox input[type=checkbox]:not(:checked)+.checkbox-material:before {
    -webkit-animation: rippleOff 700ms forwards ease-out;
    animation: rippleOff 700ms forwards ease-out;
}

.login-form-1 .checkbox input[type=checkbox]:checked+.checkbox-material:before {
    -webkit-animation: rippleOn 700ms forwards ease-out;
    animation: rippleOn 700ms forwards ease-out;
}

.login-form-1 .checkbox input[type=checkbox]:not(:checked)+.checkbox-material .check:after {
    -webkit-animation: rippleOff 700ms forwards ease-out;
    animation: rippleOff 700ms forwards ease-out;
}

.login-form-1 .checkbox input[type=checkbox]:checked+.checkbox-material .check:after {
    -webkit-animation: rippleOn 700ms forwards ease-out;
    animation: rippleOn 700ms forwards ease-out;
}

.login-form-1 .checkbox input[type=checkbox][disabled]:not(:checked)~.checkbox-material .check:before,
.checkbox input[type=checkbox][disabled]+.circle {
    opacity: 0.5;
}

.login-form-1 .checkbox input[type=checkbox][disabled]+.checkbox-material .check:after {
    background-color: rgba(0, 0, 0, 0.84);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@-webkit-keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }

    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }

    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }

    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }

    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@-webkit-keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }

    25% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }

    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -4px;
        margin-left: 6px;
        width: 0px;
        height: 0px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
    }

    51% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
    }
}

@keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }

    25% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }

    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -4px;
        margin-left: 6px;
        width: 0px;
        height: 0px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
    }

    51% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
    }
}

@-webkit-keyframes rippleOn {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@keyframes rippleOn {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@-webkit-keyframes rippleOff {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

.login-form-title-1 {
    margin-bottom: 50px;
}

.login-form-1 .login-form-title-1 h3 {
    font-size: 30px;
    font-weight: 300;
}

.do_you_have p {
    color: #630a0c !important;
    margin: 0;
    line-height: 8px;
}

.do_you_have p a {
    color: #000 !important;
    margin: 0;
    padding: 0;
}

.login-form-1 .button.login {
    display: block;
    text-align: center;
    box-shadow: 0px 5px 20px #ededed;
    -moz-box-shadow: 0px 5px 20px #ededed;
    -webkit-box-shadow: 0px 5px 20px #ededed;
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    background-color: #630a0c;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase;
}

.login-form-1 .button.login i {
    position: absolute;
    margin-top: -3px;
    margin-left: 10px;
   font-size: 22px;
}

.login-form-1 .button.login:hover {
    background-color: #000;
    box-shadow: 0px 10px 30px #ededed;
    -moz-box-shadow: 0px 10px 30px #ededed;
    -webkit-box-shadow: 0px 10px 30px #ededed;
    text-decoration: none;
}

.login-form-1 .do_you_have {
    margin: 30px 0 0 0;
}

.login-form-1 .do_you_have p {
    font-size: 16px;
}

.login-form-1 .do_you_have a {
    color: #000;
    text-decoration: none;
}

.login-form-1 .forgets {
    padding-top: 20px;
}


/**** Home page css style ****/

#header_top_area {
    background: #fff;/* url(../../assets/img/header_bg.png); */
    width: 100%;
    height: 75px;
    font-family: Rubik !important;
    color: #000;
}

/* .user_profile_details div {

    margin-right: 20px;
    margin-top: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    height: auto;
    font-weight: 500;
    font-size: 13px;
    flex-direction: row;

    border: 1px solid grey;
    color: #000;
} */
.user_profile_details {
    width: 100%;
    margin-top: 27px;
    border: 1px solid;
    font-weight: 500;
    font-size: 13px;
    padding: 2px;
}

.user_profile_details.half div {
    width: 50% !important;
}

.user_profile_details .user_name {

}
.ue2 {



}

.pb_container {
    background-color: #5c5c5c !important;
}
.play_blance_details{

    float: left;
    padding-left: 5px;


}
.play_blance_details2{


    float: left !important;
    padding-right: 0px !important;



}
.play_blance_details3{


    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.user_icon1 {
    float:left;
    padding-top: 16px;
    font-size: 13px;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    .user_profile_details .user_name {
        display: none;
    }
    .play_blance_details{
        display: table;
        height: inherit;
        padding: 15px 2px!important;
    }
  }

.header_logo_here {
    padding: 13px 0;
    text-align: left;
}

.header_logo_here img {
    width: 150px;
}

.wigers_support {
    padding: 20px 0;
}

.play_details h3 {
    font-size: 14px;
    font-weight: 500;
}

.user_profile_details p {
    font-size: 12px;
    line-height: 18px;
}

.padding-top {
    padding-top: 15px;
}


/*** Navigation area ***/

section#navigation_area {
    background: #630a0c;
}

ul#nabvar {
    margin: 0;
    list-style: none;
    text-align: center;
}

ul#nabvar li {
    display: inline-block;
}

#nabvar li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    font-family: Rubik !important;
    text-decoration: none;
    display: block;
    line-height: 56px;
    padding: 0 16px;
}

#nabvar li a:hover {
    background-color: #000;
}


/*** Up coming Events ***/

section#upcoming_events,
div#upcoming_events {

}
@media (max-width: 767px) {
    section#upcoming_events,
    div#upcoming_events {
        margin-top: -4px;
    }
}

.upcoming_title {
    padding: 5px 0;
}

.upcoming_title h2 {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
}
.dot {
    height: 7px;
    width: 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.upcoming_title p {
    word-spacing: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.go_conintue {
    float: right;

}

.go_conintue input {
    background: #000;
    border: 0 solid;
    height: 75px;
    width: 200px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.56);
}

.go_conintue a {
    background: transparent;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 12px 0 0 12px;
    display: block;
    /* margin-top: 1px; */
    height: 100%;
}

section#body_warapper {
    /* margin-top: 50px; */
    padding-top: 7px;
    background-color: #ededed;
}
@media only screen and (max-width: 768px) {
    section#body_warapper {
        /* margin-top: 50px; */
        padding-top: 0;
    }
}

.single_game_catagory {
    margin-bottom: 20px;
}

.game_name {
    background: #630a0c;
    width: 100%;
    overflow: hidden;
    height: 36px;
    margin-bottom: 10px;
}

.game_name img {
    /* width: 40px; */
    height: 37px;
    background: #fff;
    padding: 8px 7px 10px 7px;
    float: left;
}

.game_name h3 {
    line-height: 36px;
    padding-left: 10px;
    width: 80%;
    float: left;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}

.collapse-icon{
    line-height: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

.checkbox.myboxs label {
    width: 100%;
    display: block;
    cursor: pointer;
}

.game_play_list label {
    background: #fff;
    margin-bottom: 5px;
    line-height: 20px;
    padding-left: 10px;
    font-size: 14px;
}

.rwd-table {
    width: 100%;
    border-collapse: collapse;
}

.rwd-table tr:first-child {
    border-top: none;
    background: #630a0c;
    color: #ffffffe0;
}

table.rwd-table th {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 50px;
}

.game_details div {}

.dates {
    width: 50%;
    float: left;
}

.dates {
    background: #ccc;
    text-align: center;
}

.table_title {
    width: 50%;
    float: right;
}

.dates {
    background: #3a3a3a;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}

.dates a,
.dates input {
    color: #AA1C20;
    background: #fff;
    width: 100%;
    display: block;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.dates input {
    background: #fff;
    border: none;
    cursor: pointer;
}

.table_title {
    text-align: center;
}

.table_title p {
    background: #d3d3d3;
    border-bottom: 2px solid #ccc !important;
    line-height: 49px;
}

td.game_details {
    width: 35%;
}

.table_title p:last-child {
    border: 0px solid;
}

.rwd-table tr {}

.rwd-table tr:nth-child(odd):not(:first-child) {}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table {
    color: #333;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {}

@media screen and (max-width: 601px) {
    .rwd-table tr:nth-child(2) {
        border-top: none;
    }
}

@media screen and (min-width: 600px) {
    .rwd-table tr:hover:not(:first-child) {}

    .rwd-table td:before {
        display: none;
    }

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table th,
    .rwd-table td {}
}

td.game_details {
    overflow: hidden;
    width: 100%;
    display: list-item;
}

td.game_details {
    overflow: hidden;
    width: 100%;
    display: list-item;
    position: relative;
    top: -17px;
}

td.samedetails a {
    display: block;
    text-align: center;
    background: #fff;
    line-height: 50px;
    /* border-bottom: 1px solid #ddd; */
    color: #000 !important;
    text-decoration: none;
    border: 0.05px solid #ccc;
    cursor: pointer;
}

.dates p {
    line-height: 23px;
}

.selip {
    background: #fff;
    box-shadow: 1px 3px 18px 0px #0000003d;
    display: flex;
    flex-direction: column;
}

.slip_cart h3 {
    font-size: 14px;
    font-weight: 600;
}

.slip_cart p {
    float: right;
}

.slip_cart h3 span {
    background: #7f0508;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-left: 5px;
    border-radius: 50%;
    line-height: 19px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.slip_cart {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 10px 0;
}

.bet_slip_empty {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    height: 100px;
}
.horse_bet_slip_empty {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    height: 100px;
}

@media only screen and (max-width: 767px) {
    .bet_slip_empty {
        padding-top: 114px;
        height: calc(100vh - 300px);
    }
    .horse_bet_slip_empty
    {
        padding-top: 114px;
        height: calc(100vh - 300px);
    }
}

.bet_slip_empty h3 {
    font-size: 15px;
    font-weight: 700;
}

.bet_slip_empty p {
    font-size: 12px;
    line-height: 13px;
}

.bet_slip_empty a {
    color: #000;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 300;
    line-height: 36px;
}

.horse_bet_slip_empty h3 {
    font-size: 15px;
    font-weight: 700;
}

.horse_bet_slip_empty p {
    font-size: 12px;
    line-height: 13px;
}

.horse_bet_slip_empty a {
    color: #000;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 300;
    line-height: 36px;
}

.live_bet_slip_empty {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    height: 100px;
}

@media only screen and (max-width: 767px) {
    .live_bet_slip_empty {
        padding-top: 114px;
        height: calc(100vh - 300px);
    }
}

.live_bet_slip_empty h3 {
    font-size: 15px;
    font-weight: 700;
}

.live_bet_slip_empty p {
    font-size: 12px;
    line-height: 13px;
}

.live_bet_slip_empty a {
    color: #000;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 300;
    line-height: 36px;
}

.slip_price_table {
    background: #474747;
    color: #fff;
    padding: 10px 5px;
    font-size: 12px;
    line-height: 24px;
}

.slip_price_table tr td {
    width: 100%;
}

.confirm {
    width: 100%;
    text-align: center;
}

.confirm button {
    background: #630a0c;
    border: 0px;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.confirm a {
    font-size: 12px;
    color: #000;
    font-weight: 500;
    text-decoration: underline;
    line-height: 40px;
    cursor: pointer;
}
.data-table {
    background: #fff !important;
    font-size: 14px;
}

.data-table .header {
    background: #630a0c;
    color: #fff;
}

.handcap {

}
.tname1 {
    font-size: 12px;
    font-weight: 500;

}
table.bet_slip_title tr td {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    padding-left: 0px;
}

table.bet_slip_title tr td:nth-child(1) {
    width: 58%;
}

table.bet_slip_title tr td:nth-child(2) {
    text-align: right !important;
}

table.bet_slip_title tr td:nth-child(2) div {}

table.bet_slip_title tr td a {
    color: #AA1C20 !important;
    margin-left: 5px;
    cursor: pointer;
}

table.bet_slip_title {
     margin-top: 10px;
     width: 98%;
 }
table.horse_bet_slip_title {
    margin-top: 10px;
    width: 98%;
}


table.bet_slip_rat tr td input {
    width: 95%;
    font-size: 13px;
    font-weight: 300;
}

table.bet_slip_rat {
    margin-top: 10px;

}
.sd33 {
    font-size: 12px;
    padding-top: 0px;
    font-weight: 400;
    color: grey;
}
.sd34 {
    font-size: 10px;
    padding-top: 12px;
    display:inline-block;
    font-weight: 400;
    color: grey;
}
.sd35 {
    font-size: 10px;
    display:inline-block;
    font-weight: 400;
    color: grey;
}

.buying_points {
    margin-top: 12px;
    display:inline-block;
    font-size: 12px;
    color: grey;

}

.bet_slip_details h3 {
    font-size: 11px;
    line-height: 17px;
    color:grey;
}

.bet_slip_add {
    /* border-bottom: 1px solid #ccc; */
    /* padding-bottom: 5px; */
    /* margin-bottom: 2rem; */
    background: #fff;
    padding: 7px;
    margin-bottom: 5px;
}
.horse_bet_slip_add{
    background: #fff;
    padding: 7px;
    margin-bottom: 5px;
}
.bet_slip_add._has_error {
    padding: 5px;
    border: 1px solid #de4040;
}

.parlaybet_slip_details {
    padding: 10px;
}
.parlaybet_slip_details p{
    font-size: 14px;
    font-weight: 600;
}

/*  */

@media (max-width: 767px) {
    .selip {
        width: 100%;
    }

    .slip_checkbox {
        text-align: left;
    }

    .slip_price_table table {
        text-align: left;
    }

    table.bet_slip_rat {
        margin: 13px auto;
    }
}

.selip.selip-fixed #dev-slip-container {
    width: 100%;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 400px);
}

.selip.selip-fixed {
    position: fixed;
    top: 20px;
    width: 262px;
}

.scroll_bet_slip {
    height: 170px;
    overflow-y: scroll;
}

.scroll_bet_slip::-webkit-scrollbar {
    width: 6px !important;
    background-color: #F5F5F5 !important;
}

.play_game_title h2 {
    text-align: center;
    font-size: 20px;
    background: #d3d3d3;
    line-height: 50px;
    font-weight: 600;
}

table.rwd-table.newtables tr td {
    width: 25%;
    text-align: center;
}

table.rwd-table.newtables tr td:nth-child(odd) {
    /*background: #d3d3d3;*/
    font-weight: 400;
    /*border: 1px solid #d4d4d4;*/
}

table.rwd-table.newtables tr td:nth-child(even) {
    /*background: #f5f2f2;*/
    /*border: 1px solid #d4d4d4;*/
}

table.rwd-table.newtables tr td a {
    color: #000;
    display: block;
    line-height: 29px;
    cursor: pointer;
    margin: -10px 0px;
    padding: 10px;
    border: 1px solid #d4d4d4;
}

table.rwd-table.dataTables tr td {
    width: 25%;
    text-align: center;
}

table.rwd-table.dataTables tr td:nth-child(odd) {
    background: #d3d3d3;
}

table.rwd-table.dataTables tr td:nth-child(even) {
    background: #f5f2f2;
    border-bottom: 1px solid #807a7a;
}

table.rwd-table.dataTables tr td a {
    color: #000;
    display: block;
    line-height: 29px;
    cursor: pointer;
}

table.rwd-table.dataTables {
    margin-bottom: 20px;
}

table.rwd-table.dataTables .tabdaily tr td {
    width: 0;
}

table.rwd-table.dataTables tr td:nth-child(even) {
    background: #ccc;
}


h3.tabletitle {
    background: #ccc;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

table.rwd-table.newtables {
    margin-bottom: 20px;
}

.newtabls {
    background-color: #630a0c!important;
    color: #fff!important;
}

.newtabls p {
    line-height: 50px;
    border-bottom: 1px solid #fff;
}

tbody.rays tr td {
    padding: 10px 0;
}


/** copy right ***/

section#footer_area {
    background: #f5f2f2;
    text-align: center;
    margin-top: 50px;
}

.copy_right p {
    color: #000;
    font-weight: 600;
    padding: 20px 0;
}


/* Atik's css start */

.data-unavaiable {
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.data-unavaiable h1 {
    color: rgba(0, 0, 0, 0.5);
}

.innertable {
    width: 100%;
}

.draw_line_tr {
    margin-top: -10px !important;
}

.draw_line {
    padding: 0px !important;
    height: 26px !important;
    overflow: hidden !important;
}

.odd_active {
    background-color: #ededed !important;
    color: #000 !important;
    font-weight: 500;
}


/* Atik's css End */


/*** Rules page ***/

.rules_list {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.rules_list h2 {
    position: relative;
    padding-left: 23px;
    line-height: 30px;
}

.rules_list h3 {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
}

.rules_list p {
    font-size: 14px;
    padding-top: 10px;
    line-height: 24px;
    font-weight: 100;
    padding-left: 20px;
}

.order {
    padding: 0px 30px;
}

.order h3 {
    font-size: 18px;
    font-weight: 700;
}

.order ul li {
    line-height: 30px;
    font-size: 14px;
    padding-left: 20px;
}

.order ul li:before {
    content: "";
    width: 10px;
    height: 2px;
    background: #216063;
    display: block;
    position: absolute;
    left: 0;
    top: 14px;
}

.order ul li {
    position: relative;
}


/*** End Rules page ***/

.tab-style-3 .tabs {
    display: table;
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 15%;
    float: left;
    margin-top: 8px;
}

.tab-style-3 .tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.tab-style-3 .tabs a {
    background-color: #333;
    color: #fff;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
}

.tab-style-3 .tabs_item {
    display: none;
    padding: 7px 0;
}

.tab-style-3 .tabs_item h4 {
    font-weight: bold;
    color: blue;
    font-size: 20px;
}

.tab-style-3 .tabs_item:first-child {
    display: block;
}

.tab-style-3 .current a {
    color: #fff;
    background: #630a0c;
}

.tab-style-3 .tab_content {
    width: 85%;
    float: right;
}

.tab-style-3 .video_details h2 {
    color: #383838;
    font-size: 30px;
    line-height: 50px;
}

.tab-style-3 .video_details p {
    line-height: 24px;
    padding-top: 20px;
    font-weight: 300;
}

.single_current_details {
    width: 26%;
    float: left;
    background: #fff;
    text-align: center;
    margin: 10px;
    height: 80px;
    padding-top: 6px;
    border: 2px solid #000000;
}
@media only screen and (max-width: 650px) {
    .single_current_details h4{
        font-size: 14px!important;
    }
}
@media only screen and (max-width: 650px) {
    .single_current_details h3{
        font-size: 14px!important;
        line-height: 20px;
    }
}

.single_current_details h3 {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 100;

}

.single_current_details h4 {
    color: #000 !important;
    font-weight: 700 !important;
}

.video_details h2 {
    font-size: 26px !important;
    padding-left: 10px;
    font-weight: 400;
}

tbody.rays.tabstyle p {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
}

tbody.rays.tabstyle.tabdaily tr th {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

tbody.rays.tabstyle.tabdaily tr td p {
    font-size: 14px;
}

table.rwd-table.newtables .tabdaily tr td {
    width: 0;
}

tbody.rays.wager tr td {
    padding: 10px 0;
    vertical-align: middle;
}

.scroll-me-mobile{
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0px;
}
@media (max-width: 767px) {
    .scroll-me-mobile{
        margin-top: 8px;
    }
}
@media (max-width: 767px) {
    .scroll-me-mobile-casino{
        margin-top: 4px;
    }
}
.tab-style-5 .tabs {
    display: inline-block;
    position: relative;
    /*overflow: hidden;*/
    margin: 0;
    width: 100%;
    float: left;
    padding: 10px 0;
    min-width: 900px;
}

@media (max-width: 767px) {
    .tab-style-5 .tabs {
        padding: 10px 0 0 0;
    }
}
.tab-style-5 .tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 140px;
    margin-left:18px;
}

@media (max-width: 767px) {
    .tab-style-5 .tabs li {
        margin-bottom: 10px;
    }
}

.tab-style-5 .tabs a {
    background-color: #666;
    color: #fff;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin-right: 2px;
}

.tab-style-5 .tabs a:hover {
    color: #fff;
    background-color: rgba(80, 80, 80, 0.75);
}

.tab-style-5 .tabs_item {
    display: none;
}

.tab-style-5 .tabs_item h4 {
    font-weight: bold;
    color: blue;
    font-size: 20px;
}

.tab-style-5 .tabs_item img {
    width: 200px;
    float: left;
    margin-right: 30px;
}

.tab-style-5 .tabs_item:first-child {
    display: block;
}

.tab-style-5 .current a {
    color: #ffffff;
    background: rgba(63, 63, 63, 0.95);
}

.tab-style-5 .tab_content {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    margin: 0px;
}

.tab-style-5 .video_details h2 {
    color: #fff;
    font-size: 30px;
    line-height: 50px;
}

.tab-style-5 .video_details p {
    line-height: 24px;
    padding-top: 20px;
    font-weight: 300;
}

.tab-style-5 .tab ul li a img {
    width: 16px;
    height: 18px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.tab-style-6 .tab ul li a img {
    width: 35px!important;
    height: 42px!important;
    margin: 0 auto;
    text-align: center;
    display: block;
}
@media only screen and (max-width: 767px) {
    .tab-style-6 .tab ul li a img {
        width: 16px!important;
        height: 18px!important;
        margin: 0 auto;
        text-align: center;
        display: block;
    }
}

.tab-style-5 .tab ul li a {
    padding: 10px;
}

.tab-style-5 {
    width: 100%;
}

table.datatable {
    width: 100%;
}

table.datatable tr td {
    background: #d3d3d3;
    line-height: 3.2em;
    text-align: center;
    color: #000;
}

table.datatable tr td:nth-child(1) {
    width: 60%
}

table.datatable tr td:nth-child(2) {
    width: 20%;
    color: #AA1C20;
}

table.datatable tr td:nth-child(3) {
    width: 20%
}

.dates.livedate h2 {
    font-family: Rubik;
    font-size: 22px;
}

tr.mobilecss td {
    font-family: Rubik;
}

.dates.livedate {
    line-height: 56px;
}

.livea a {
    color: #AA1C20 !important;
}

.dates.livedate i {
    font-size: 35px;
    color: #fff;
    position: relative;
    top: 10px;
}

tr.livemoible {
    border-bottom: 0px solid #cccccc;
    background: #717171;
}

table.liverwdtable th:nth-child(1) {
    background: #c7c7c7;
    color: #000;
}

td.samedetails.mobileview.livea a {
    background: #3a3a3a;
    color: #fff !important;
}

td.samedetails.mobileview.livea .fa-arrow-up {
    color: green;
    font-size: 12px;
    padding-right: 4px;
}

td.samedetails.mobileview.livea .fa-arrow-down {
    color: red;
    font-size: 12px;
    padding-right: 4px;
}

.Volleyball tr td {
    font-size: 12px;
}

.table_title {
    height: 102px;
    background: #d3d3d3;
    cursor: n-resize;
    padding: 4px 0;
    display: grid;
    place-items: center;
}

.table_title::-webkit-scrollbar-track {
    background-color: #27272f;
}

.table_title::-webkit-scrollbar {
    width: 15px;
}

.table_title::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 10px;
}

.table_title p {
    font-size: 14px;
    line-height: 25px;
    vertical-align: middle;
}

.table_title::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.table_title::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.table_title::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 1px solid #555555;
}

table.rwd-table.newtables tr td:nth-child(even) {
    /*background: #ccc;*/
}


/* Hockey Data Table Style Start  */

.hockeys .table_title {
    height: 153px !important;
}

.hockeys .dates p {
    line-height: 40px;
}

a.gresy {
    background: #CCCCCC;
    display: block;
    height: 51px;
}


/* Hockey Data Table Style End  */


/*casino single game details page CSS Style end */

.video_game_code_here h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.single_game_img img {
    width: 100%;
}

.single_game_details p {
    padding-bottom: 10px;
}

.single_game_img {
    margin-top: 50px;
}

.single_game_details {
    margin-top: 50px;
}


/*casino  single game details page  CSS Style end */


/* casino page CSS Style Start */

ul.tabs.casiontab li {
    width: 180px;
}

.game_names h3 {
    font-size: 20px;
    font-weight: 700;
}

.game_names {
    padding-bottom: 15px;
}

.single_casnio_game {
     width: 18%;
     background: transparent;
     margin: 10px;
     z-index: 1;


 }

.casino_header {
     width: 18%;
     background: transparent;
     margin: 10px;
     z-index: 1;


 }

.casino_header2 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;



}

.single_casnio_game img {
    width: 100% !important;
    height: 120px;
    box-shadow: 0 0 16px 3px rgba(43,43,43,.3);
}

.single_casnio_game:hover img {
    width: 100% !important;
    height: 120px;
    box-shadow: 0 0 24px 7px rgba(43,43,43,.3);
}

.single_casnio_game h2 {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

@media (max-width: 767px) {
    .single_casnio_game {
        width: 100%;
    }

    .single_casnio_game img {
        height: auto;
    }

    ul.tabs.casiontab li {
        width: 48%;
        margin: 0px 0 11px 6px!important;
    }
}
@media (max-width: 767px) {
   .border-radious-casino-tab{
       border-radius: 25px;
   }
}


/*casino page CSS Style end */


/* custom code */

.mobile-popup {
    display: none;
}

a.popup__close {
    display: none;
}


/*===========================
Menu responsive
===================*/

.mobile-menu {
    z-index: 9999;
    position: relative;
}

.mobile-popup #slip_count {
    color: #ff0007;
    font-weight: 700;
}

.mobile-menu nav {
    height: 60px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
}

.menu-open i {
    color: #474747;
    font-size: 36px;
    padding-left: 10px;
    position: absolute;
    right: 12px;
    top: 10px;
}

.js-menu-close.menu-close {
    position: absolute;
    top: 0;
}

.menu-close i {
    color: #d24747;
    padding: 8px 16px;
    float: right;
    margin: 0;
    font-size: 18px;
}

.side-nav {
    position: relative;
    transition: -webkit-transform .35s ease-out;
    transition: transform .35s ease-out;
    transition: transform .35s ease-out, -webkit-transform .35s ease-out;
    background: #f0f0f0;
    height: 100%;
    width: 77%;
    max-width: 400px;
    box-shadow: 0 5px 6px 4px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateX(-102%);
    transform: translateX(-102%);
    will-change: transform;
    display: flex;
    flex-direction: column;
}

.side-nav-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.side-nav-container:before {
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    will-change: opacity;
    opacity: 0;
    pointer-events: none;
}

.side-nav-animatable .side-nav {
    transition: -webkit-transform 0.33s cubic-bexier(0, 0, 0.3, 0.1);
    transition: transform 0.33s cubic-bexier(0, 0, 0.3, 0.1);
    transition: transform 0.33s cubic-bexier(0, 0, 0.3, 0.1), -webkit-transform 0.33s cubic-bexier(0, 0, 0.3, 0.1);
}

.side-nav-animatable.side-nav-visible .side-nav {
    transition: -webkit-transform 0.33s cubic-bezier(0, 0, 0.3, 1);
    transition: transform 0.33s cubic-bezier(0, 0, 0.3, 1);
    transition: transform 0.33s cubic-bezier(0, 0, 0.3, 1), -webkit-transform 0.33s cubic-bezier(0, 0, 0.3, 1);
}

.side-nav-visible {
    pointer-events: auto;
}

.side-nav-visible .side-nav {
    -webkit-transform: none;
    transform: none;
}

.side-nav-visible:before {
    opacity: 1;
}

.mobile-menu-logo img {
    width: 70%;
    margin: 6px 0;
    transform: translateY(6px);
}

.profile-images img {
    width: 90px;
    height: 90px;
    border-radius: 125px;
    border: 2px solid #000;
}

.mobile-menu {
    z-index: 2;
    position: absolute;
    top: 0;
    display: none;
}


/* ============== */

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    width: 20px;
    height: 18px;
    border: 2px solid #000 !important;
    transform: translateY(4px);
}

input.filled[type=checkbox]:checked input.filled[type=checkbox]:before {
    content: "\f00c";
    font-family: Rubik;
    background: rebeccapurple;
    color: #fff;
}

#upcoming_events .row {
    background-color: #474747 !important;
    color: #e4e4e4 !important;
    box-shadow: 1px 3px 8px 0 #0000003d;
}

#logo .row .col-lg-3 {
    padding: 0;

}
.row .col-lge-4 {
    padding: 0;
    margin-left: auto;
    float: right;
}
.__user_profile_container{
    margin-right: 1.5rem!important;
}
.row .col-lge-5 {
    padding: 0;
    float: right;
    min-width: 70px;
}
#upcoming_events .row .col-lg-6.col-xs-12 {
    padding: 0;
}

.upcoming_title {
    padding: 5px 11px;
    /* background: #2d2d2dab; */
}

td.table-mobile {
    display: none;
}


/*
|----------------------------------
| Live sports Style
|----------------------------------
*/

#myaccount .box,
#dashboard .box {
    margin: 0 !important;
}

#myFormTes table:first-child thead,
#myFormTes table:first-child thead tr:first-child td {
    padding: 10px;
    text-align: left;
}

#myFormTes table:first-child thead {
    background: #65606000;
    color: white;
    font-weight: 600;
}

#myFormTes td select {
    text-transform: none;
    width: 65px;
    height: 22px;
}

.HeaderColumnsName td {
    border-right: 1px solid;
    text-align: center;
    padding: 10px;
}

.HeaderColumnsName th {
    background: #d5d7da47 !important;
    font: bold 12px Arial !important;
    height: 24px !important;
    padding: 10px 0 10px 0 !important;
    text-align: center !important;
    color: #2d1e1e !important;
}

.TableTeamTotal td input {
    float: left;
}

input[type="text"] {
    padding: 0px 6px;
    width: 40px;
    box-shadow: inset 0 0 3px 0 black;
}

.td3 select {
    padding: 2px;
}

.HeaderTableLine {
    background: #525252;
    border-bottom: 0px solid #ffffff;
    padding: 0 17px;
    font-size: 14px;
    padding-right: 10px;
}

.HeaderColumnsName {
    background: #ccc;
    font: bold 12px Arial;
    height: 24px;
    /* padding: 0 0 0 10px; */
    /* text-align: left; */
    color: #201f25;
}

.cellSportHeader {
    clear: left;
    float: left;
    padding-top: 0px;
    text-align: left;
    color: #ffffff;
}

.cellSportHeader .sportMenu {
    display: inline-block;
    width: 70px;
    text-align: center;
}

.cellSportHeader .sportMenu a {
    text-decoration: none;
    opacity: 0.5;
}

.cellSportHeader .sportMenu a.active {
    opacity: 1;
    background-color: transparent;
}

.active {
    opacity: 1;
    background-color: transparent;
}

.active-bet-juice {
    background-color: #b21e22 !important;
    color: #fff;
}

.cellSportHeader .sportMenu a img {
    width: 40px;
    height: 40px;
}

.tdTeamName p {
    font-weight: 400;
}

.mainapidata table thead tr th {
    text-align: center;
    background-color: #fff;
    color: #fff;
    padding: 10px 0px;
    font-size: 13px;
}

.mainapidata table thead tr td {
    text-align: center;
}

.mainapidata table tr td {
    /*width: 250px;*/
    font-size: 15px;
    vertical-align: middle;
    text-align: center;
}

.spacing_div {
    height: 15px;
    background-color: #464646 !important;
    border-bottom: 15px #e8e8e8 solid;
}

.spacing_div:first-child {
    text-align: left;
}

.spacing_div .player {
    background-color: #ccc;
    line-height: 36px;
    padding: 0px 6px;
    font-weight: 600;
}

.basketball-player tr {
    line-height: 36px;
}

.basketball-number tr {
    line-height: 36px;
}

.spacing_div .player span {
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
}

.spacing_div .player_number {
    text-align: right;
    background-color: #ccc;
}

.spacing_div .player_number div {
    display: inline-block;
    padding: 3px 8px 3px 2px;
}

.spacing_div .player_number span {
    font-size: 17px;
    line-height: 31px;
}

tbody.player_number_freq.ng-scope td {
    padding: 0 8px;
}

.basketball-number span {
    line-height: 0px !important;
}

.spacing_div table.bet_value td.toptd {
    border-left: 1px #d3d3d3 solid;
    border-bottom: 1px #d3d3d3 solid;
    padding: 10px !important;
    background-color: #fff;
    text-align: center;
}

.spacing_div table.bet_value td.bottomtd {
    border-left: 1px #d3d3d3 solid;
    padding: 10px !important;
    background-color: #fff;
    text-align: center;
}

.spacing_div table.bet_value td.mediumtd {
    border-left: 1px #d3d3d3 solid;
    border-bottom: 1px #d3d3d3 solid;
    background-color: #fff;
    padding: 10px !important;
    height: 35px;
    text-align: center;
}

.spacing_div table.bet_value tr td:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.spacing_div table.bet_value tr td.active {
    background-color: #b21e22;
    color: white;
}

#myFormTes table:first-child thead,
#myFormTes table:first-child thead tr:first-child td input {
    vertical-align: middle;
}

table {
    width: 100%;
}

.ng-scope td {
    padding: 0;
}


.confirm-success-alert {
    text-align: center;
    padding: 10px;
    background: lightgreen;
}

.confirm-fail-alert {
    text-align: center;
    padding: 10px;
    background: #b21e22;
    color: white;
}

.sport-title-heading {
    min-height: 20px;
    width: 100%;
    padding: 5px;
    position: relative;
    margin-bottom: 0px;
    background-color: #b21e22;
    color: #fff !important;
}

.sport-title-heading p {
    text-align: center;
    color: #464646;
    font-weight: 500;
}

.timer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 29px 10px;
}

.no_event {
    color: #5c5c5c;
    font-size: 14px;
    font-style: italic;
}

.logo_here {
    padding-bottom: 20px;
}

.timer-section td {
    color: #fff;
}

.basket-padding {
    padding: 10px 10px;
}

#myaccount .box h5 {
    padding: 15px !important;
}

.card-body.sticky {
    width: 100%;
    display: inline-block;
    overflow: auto;
    max-height: calc(100vh - 300px);
}

.sport-title-heading {
    min-height: 20px;
    width: 100%;
    padding: 5px;
    position: relative;
    margin-bottom: 0px;
    background-color: #b21e22;
    color: #fff !important;
}

.sport-title-heading p {
    text-align: center;
    color: #464646;
    font-weight: 500;
}

.preloading img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.mainapidata table thead tr th {
    text-align: center;
    background: #666666;
    color: #fff;
    padding: 10px 0px;
    font-size: 13px;
}

.confirm-success-alert {
    text-align: center;
    padding: 10px;
    background: lightgreen;
}

.confirm-fail-alert {
    text-align: center;
    padding: 10px;
    background: #b21e22;
    color: white;
}

.sport-title-heading {
    min-height: 20px;
    width: 100%;
    padding: 5px;
    position: relative;
    margin-bottom: 0px;
    background-color: #b21e22;
    color: #fff !important;
}

.sport-title-heading p {
    text-align: center;
    color: #464646;
    font-weight: 500;
}

.timer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.timer-section>h5 {}

#myaccount {}

#myaccount .box h5 {
    padding: 15px !important;
}

.myleague_table tbody tr td {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #d3d3d3;
}

.active_state {
    cursor: pointer;
}

.active_state:hover {
    background-color: #d3d3d3;
}

.selected_state {
    background-color: #7d4042;
    color: whitesmoke;
}

.selected_state {
    background-color: #7d4042;
    color: whitesmoke;
}

.odd_bar {
    float: right;
    background-color: #9a9696;
    margin: -5px!important;
    width: 86px;
    height: 44px;
    padding: 0 10px;
    line-height: 35px;
    color: #fff;
    text-shadow: 2px 2px 4px #1d1717;
    cursor: pointer;
    font-size: 20px;
}

td.player.basketball-player td {
    font-size: 14px;
}


/*
    |-----------------------------------------------------
    |
    | Side bar contents cess
    |---------------------------------------------------
    */

.side-bar-demo-content {
    min-width: 280px;
    height: auto;
    background-color: #fff;
}

.mypanel>.heading {
    padding: 12px;
    font-size: 16px;
    border-bottom: 2px solid #b21e22;
    background-color: #ccc;
    text-transform: uppercase;
    text-align: center;
}

.badge {
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: #b21e22;
    color: white;
}

.mypanel .card-items-box {
    font-size: 14px;
    display: flex;
    color: #3c3c3c;
    flex-direction: column;
    margin-bottom: 10px;
}

.mypanel>.body {
    padding: 12px;
    font-size: 16px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    /*max-height: 500px;*/
    min-height: 100px;
    overflow: auto;
    max-height: calc(100vh - 596px);
}

.btn {
    padding: 10px;
}

.btn-log {
    padding: 2px;
    background-color: #000 !important;
}

.btn-log:hover {
    padding: 2px;
    background-color: #000 !important;
    text-decoration: none;
}

.btn-danger {
    background-color: #b21e22;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-danger:hover {
    background-color: #f45f62;
}

.myrate input[type=text] {
    width: 100% !important;
    height: 35px;
    border: 1px;
    border-radius: 3px
}

.totalbet_cal {
    display: flex;
    width: 100%;
    height: calc(100% / 30px);
    flex-direction: column;
    background-color: #525252;
    color: white;
    padding: 12px;
    font-size: 14px
}

.totalbet_cal span {
    font-size: 13px;
    opacity: 0.8;
    color: #fff;
    padding: 5px;
}

.eachbox {
    overflow: hidden;
}

.active {
    background: #474747;
}

.active input[type="text"] {
    color: white;
}

.closecard {
    font-size: 10px;
    color: #fff !important;
    padding: 4px;
    border-radius: 20%;
    background-color: #b21e22;
    margin-left: 9px;
    text-align: center;
    cursor: pointer;
}

.clearsection {
    text-decoration: underline;
    cursor: pointer;
    color: #e2e2e266;
}

.messgae {
    padding: 8px;
    border: none;
    margin-bottom: -5px;
    margin-left: -5px;
    margin-right: -5px;
}

.red-alert {
    background: #b21e22;
    color: white;
}

.green-alert {
    background: #09ec68de;
    color: whitesmoke;
}

.show {
    display: block;
}

.hide {
    display: none;
}


/*
|----------------------------------
| Pop up box for bet notification
|----------------------------------
*/

.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999999999;
}

.popup-box .form-control {
    width: 100%;
    border: 1px solid #eaeaea;
}

.popup-box-body {
    min-height: 166px;
    min-width: 363px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
    position: relative;
}

.popup-box-body div {
    margin-bottom: 10px;
}

.popup-box-body:first-child h4 {
    font-size: 26px;
    font-family: Rubik;
}

.popup-box-body .btn {
    display: block;
    width: 100%;
}

.popup-box-body .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ff00006b;
    color: red;
    padding: 0px 8px;
    font-size: 19px;
    border-radius: 8%;
}

.popup-box-body .close-icon span {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

div#dev-slip-container {
    background: #fff;
}


/*
|----------------------------------
| Soccer
|----------------------------------
*/

article#myaccount {
    padding: 0;
}

.soccer-cons {
    position: relative;
}

.soccer-btn {
    position: absolute;
    right: 5px;
    top: -40px;
    background: #000;
    text-align: center;
    width: 90px;
    padding: 5px;
}

.soccer-table {
    background-color: #fff;
}
.__show_in_mobile{
 display: none;
}

@media (max-width: 767px) {
    .wigers_support {
        padding-top: 25px;
        display: none;
    }
    .mobile-menu-logo{
        flex-basis: 70%;
    }
    .__user_profile_container{
        margin: 0px !important;
    }
    .__show_in_mobile{
        display: block;
    }
    .__hide_mobile{
        display: none;
    }

    .user_profile_details {
        margin-top: 70px;
        font-size: 11px;
    }

    .profile-file {
        background: #c10000;
        padding: 0 0 0 0;
        text-align: center;
    }
    .profile-file .mobile-menu-logo{
        background-color: #282828;
        padding: 10px 0;
    }

    .wigers_support-mobile p {
        color: #fff;
        font-size: 14px;
    }

    .mobile-menu {
        display: block;
    }

    #nabvar {
        overflow-y: scroll;
    }

    #nabvar li {
        display: block !important;
    }

    #nabvar li a {
        color: #c10000;
        text-align: left;
        font-size: 15px;
        line-height: 50px;
        padding: 0 16px;
    }

    #nabvar li a:hover {
        color: #fff;
    }

    .user_name-mobile {
        color: #fff;
        padding-top: 6px;
        padding-bottom: 9px;
    }

    .user_name.padding-top {
        display: none;
    }

    .user_profile_details div {
        width: 50%;
    }

    .user_profile_details.half div {
        width: 100% !important;
    }

    .play_details {
        text-align: left !important;
    }

    .play_blance_details {
        border: 0 !important;
    }

    table.rwd-table.newtables tr td {
        width: 50%;
    }

    table.rwd-table.newtables tr td a {
        line-height: 48px;
        border-top: 1px solid #000;
    }

    .newtabls {
        height: 50px;
        position: relative;
    }

    .newtabls p {
        line-height: 20px;
        border-bottom: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        font-size: 11px;
    }

    .dates {
        width: 100%;
        text-align: left;
        padding: 0 10px;
    }

    .dates p {
        display: inline-block;
        margin-right: 17px;
        font-size: 13px;
    }

    .dates form {
        display: inline-block;
        float: right;
        padding: 5px 0;
    }

    .dates input {
        padding: 8px 8px;
    }

    .table_title {
        width: 100%;
        float: left;
    }

    /* Table Mobile Block */
    td.table-mobile {
        display: block;
        width: 40%;
    }

    .table_title.table-desktop {
        display: none;
    }

    td.table-mobile .table_title {
        height: 121px !important;
    }

    td.game_details:before {
        display: none;
    }

    td.table-mobile:before {
        height: 18px;
    }

    .table_title p {
        font-size: 12px;
        height: 37px;
        line-height: 24px;
    }

    /*
    |----------------------------------
    | live Sports Tennis
    |----------------------------------
    */
    .tab-style-5 .tab ul li a img {
        width: 20px;
        height: 20px;
    }

    .tab-style-5 .tabs a {
        line-height: 20px;
    }

    .tab-style-5 .tab ul li a {
        padding: 5px;
    }

    .tab-style-5 .tabs li {
        width: auto;
    }

    /* Tennis */
    td.tennis-liveps {
        width: 8%;
    }

    .timer-section {
        padding: 29px 0px;
    }

    .timer-section h5 {
        font-size: 12px;
    }

    .spacing_div .player {
        padding: 0 0;
    }

    .spacing_div .player span {
        font-size: 12px;
        font-weight: 600;
        line-height: 30px;
    }

    .spacing_div .player_number span {
        font-size: 12px;
        line-height: 30px;
    }

    .spacing_div table.bet_value td {
        font-size: 12px;
        padding: 16px 0 !important;
        height: 51px;
    }

    td.set-mobile {
        width: 7%;
    }

    /*
    |----------------------------------
    | live Sports Basketball
    |----------------------------------
    */
    td.player.basketball-player td {
        font-size: 12px;
        height: 45px;
        padding: 0 4px;
        line-height: 13px;
    }

    tbody.player_number_freq.ng-scope td {
        height: 45px;
    }

    td.basketball-mobile-w {
        width: 11%;
    }

    td.basketball-mobile-w .bet_value td {
        height: 57px !important;
        padding: 10px 0 !important;
    }

    .basket-padding {
        padding: 9px 0px;
    }

    .timer-section td {
        font-size: 12px;
    }

    /*
    |----------------------------------
    | Bet Slip
    |----------------------------------
    */
    .mobile-menus {
        position: fixed;
        top: 50%;
        right: 0;
        background: #000;
        color: #fff;
        margin: 0 17px 0 0;
        padding: 13px 12px;
    }

    .HeaderColumnsName th {
        font-size: 10px !important;
    }

    /*
    |----------------------------------
    | Bet Slip Popup
    |----------------------------------
    */
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 2s ease-in-out;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

    .spacing_div table.bet_value td.toptd {
        padding: 13px 0 !important;
    }

    .selip.selip-fixed {
        position: unset;
    }
}


/*
|----------------------------------
| Popup css
|----------------------------------
*/

a.popup-live {
    display: none;
}

a.optin-close {
    display: none;
}

@media (max-width: 767px) {
    /* live bet design start */
    .spacing_div .player_number div{
        padding: 0 !important;
        letter-spacing: 10px;
    }
    /* live bet design end */

    a.popup-live {
        display: block;
    }

    a.optin-close {
        display: block;
    }

    .bg-overlay {
        position: fixed;
        z-index: 99999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }

    .bg-overlay:target {
        visibility: visible;
        opacity: 1;
    }

    .subscribe-optin {
        position: relative;
        z-index: 99999999999;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        background: #fff;
        text-transform: uppercase;
        font-size: .8rem;
    }

    .subscribe-optin .optin-close {
        position: absolute;
        top: 5px;
        right: 42px;
        right: 6px;
        -index: 999;
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        background: red;
        padding: 7px 13px;
        font-size: 21px;
        border-radius: 100px;
    }

    .subscribe-optin .optin-close:hover {
        color: #c7c7c7;
        transition: color 500ms ease;
    }

    a.popup-live {
        background: transparent;
        color: #fff;
        padding: 2px 2px;
        display: inline-block;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 11!important;
        width: 75px;
        font-size: 12px;
        height: 50px;
        padding-top: 20px;
    }

    .__slip_count {
        background: #a21a1e;
        padding: 0px;
        color: #fff;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: inline-block;
        line-height: 16px;
    }

    .body.card-body {
        width: 100%;
        display: inline-block;
        overflow: auto;
        min-height: auto;
        max-height: calc(100vh - 460px);
    }

    table.bet_slip_title tr td:nth-child(1) {
        text-align: left;
    }

    td.table-mobile .table_title {
        height: auto !important;
    }
}

.popup-live {
    background: transparent;
    color: #fff;
    padding: 2px 2px;
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 11!important;
    width: 75px;
    font-size: 12px;
    height: 50px;
    padding-top: 20px;
}

/* Extra Small Devices, Phones */

@media (max-width: 479px) {
    .dates p {
        margin-right: 7px;
        font-size: 11px;
        line-height: 40px;
    }

    .dates input {
        padding: 9px 6px;
        font-size: 11px;
    }

    .table_title p {
        font-size: 11px;
        height: 37px;
        line-height: 32px;
    }
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c4c8;
    border-radius: 5px;
    opacity: 1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #adb0b4;
}

.strong {
    font-weight: bold !important;
}


/* bet slip credit limit */
.limit-check-each-bet{
    border: 1px solid red;
    padding-bottom: 5px;
}
.user-min-limit,.user-max-limit{
    height: auto;
    padding: 10px;
    width: calc(100% + 10px);
    background: #aa1c20;
    color: #fff;
    font-family: inherit;
    margin-left: -5px;
    margin-bottom: -5px;
    margin-top: 5px;
    margin-right: -5px;
}
.slip-message-box{
    padding: 0px
}
.otherbet_slip_title
{
    width: 98%;
    padding:5px;
    font-size:1.12em;
    font-weight:bold;
}

.otherbet_slip_details
{
    padding: 10px;
    border-top: 1px solid darkgrey;
}
.otherbet_slip_details p{
    font-size: 14px;
    font-weight: 600;
}
.otherbet_slip_details div p{
    font-size: 14px;
    font-weight: 600;
}
.inputstl {
    padding: 9px;
    border: solid 1px #0077B0;
    outline: 0;
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF 1px, #FFFFFF 20px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
.teaserbet-content
{
    background-color:#f6f6f6;
    padding:5px;
    margin-bottom:5px
}

.horse-item-header
{
    background-color:#630a0c;
    height:50px;
    margin-bottom:5px;
    color:white;
    border-radius:100px;
}
.padding-horse-item-header
{
    height:50px;
    padding:15px;

}
.padding-horse-item-footer
{
    padding:15px;
    background-color: #F2F2F2;
    border-top:2px solid #D1D1D1;
}
.horse-item-body>table {
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
 }

.horse-th
{
    text-align: left;
    padding: 16px;
}
.horse-td
{
    text-align: left;
    padding: 16px;
}

.horse-item-body>table>tbody>tr:nth-child(even) {
    background-color: #FFFFFF !important;
}
.horse-item-body>table>tbody>tr:nth-child(odd) {
 background-color: #F2F2F2 !important;
}
.horse-item-body>table>tbody>tr:nth-child(1)
{
    border-bottom:2px solid #D1D1D1;

}
.horse-item-body>table>tbody>tr>th:nth-child(1){
    text-align:center;
    width:10%;
}
.horse-item-body>table>tbody>tr>td:nth-child(1){
    text-align:center;
    width: 10%;
}
.horse-item-body>table>tbody>tr>th:nth-child(2){
    text-align:left;
    width: 40%;
}
.horse-item-body>table>tbody>tr>td:nth-child(2){
    text-align:left;
    width: 40%;
    vertical-align:middle;
}
.horse-item-body>table>tbody>tr>th:nth-child(3){
    text-align:center;
    width:5%;
}
.horse-item-body>table>tbody>tr>td:nth-child(3){
    text-align:center;
    width:5%;
}
.horse-item-body>table>tbody>tr>th:nth-child(4){
    text-align:right;
    width:45%;
}
.horse-item-body>table>tbody>tr>td:nth-child(4){
    text-align:center;
    width:45%;
}
.numberCircle1 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #CC0000;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle2 {
     border-radius: 50%;
     width: 24px;
     height: 24px;
    padding-top:4px;
     background: #FFFFFF;
     color: #000000;
     text-align: center;
     font: 14px Arial, sans-serif;
 }
.numberCircle3 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #0B92D1;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle4 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #E2A636;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle5 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #016700;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle6 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle7 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #FE5D01;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle8 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #E94A8F;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle9 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #00CFCF;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle10 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #800080;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle11 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #968012;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle12{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #052d80;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle13 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #80011e;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle14 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #468051;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle15 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #7f3080;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle16 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #7b802f;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle17 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #80763a;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle18 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #292380;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle19 {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #7d2580;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.numberCircle20{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding-top:4px;
    background: #807e45;
    color: #FFFFFF;
    text-align: center;
    font: 14px Arial, sans-serif;
}
.horse-betting-select{
    width:180px;
    height:30px;
    padding:5px;
    color:black;
    border:none;
}
.bet-btn
{
    border: 1px solid #c2c2c2;
    background-color:white;
    height:40px;
    margin-left:5px;
    border-radius: 4px;
    width:64px;
    cursor: pointer;
}

.btn-horse-add-slip
{
    background-color:#CC0000;
    color:white;
    justify-content: center;
    padding:0 5px 0 5px!important;
}
.No-racing
{
    padding-left:20px;
    margin-top:20px;
    margin-bottom:20px;
}
.horse-bet-content
{
    display:none;
}
.addhorseactive
{
    background-color:#364250;
    color:#FFFFFF
}

.TodayRace {
    color: #000;
    white-space: nowrap;
    font-size: 2em;
    font-family: Rubik;
}

.TodayRace:hover {

}
.TomorrowRace {
    color: #000;
    white-space: nowrap;
    font-size: 2em;
    font-family: Rubik;
}

.TomorrowRace:hover {

}


.__ng_loaded{
    display: none;
}
